.page {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    color: #000000;
    background-color: #202020;
    font-family: 'Inter', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
  }
  
  .page__wrapper {
    display: grid;
    grid-template-rows: auto  1fr  auto ;
    min-height: 100vh;
  }