.popup {
    display: flex;
    position: fixed;
    top: -100%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.12s, visibility 0.12s linear 0s;
    z-index: 5;
  }

  .popup_active {
    opacity: 1;
    top: 50%;
    visibility: visible;
    transition: opacity 0.12s, top 0.12s, visibility 0.12s linear 0s;
  }

  .popup_disable {
    opacity: 0;
    transition: opacity 1s linear;
  }

  .popup-overlay {  
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.12s, visibility 0.12s linear 0s;
    z-index: 2;
  }

  .popup-overlay_active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.12s, visibility 0.12s linear 0s;
  }

  .popup__window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    align-self: center;
  }
  
  @media screen and (max-width: 1280px) {
      .popup__window {
        width: max-content;
      }
  }

  .popup__close-button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    outline: 0;
    display: flex;
    z-index: 1;
    max-width: 30px;
    min-width: 20px;
    width: calc(1.04vw + 16px);
    height: calc(1.04vw + 16px);
    align-self: flex-end;
    opacity: 1;
    transition: opacity 0s, opacity 0.15s linear;
    margin-bottom: calc(-1.57% + 20px);
    position: relative;
    background-image: url(../images/popup/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: calc(-3.65vw + 11px);
  }
  
  .popup__close-button:hover {
    opacity: 0.6;
  }
  
  @media screen and (min-width: 1280px) {
      .popup__close-button {
          margin-bottom: 0;
          right: -35px;
      }
  }
  
  @media screen and (max-width: 320px) {
      .popup__close-button {
          margin-bottom: 15px;
          right: 0px;
      }
  }

  .popup__form {
    background-color: #FFFFFF;
    width: calc(15.41vw + 232px);
    max-width: 430px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .popup__icon {
    margin-top: 60px;
  }

  .popup__form-caption {
    font-style: normal;
    font-weight: 900;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 60px;
    max-width: 358px;
  }
  
  @media only screen and (max-width: 320px) {
      .popup__form-caption {
          font-size: 6.25vw;
          line-height: 7.5vw;
      }
  }
  
  @media only screen and (min-width: 321px) and (max-width: 1280px) {
      .popup__form-caption {
          font-size: calc(0.41vw + 18px);
          line-height: calc(0.52vw + 22px);
      }
  }
  
   @media only screen and (min-width: 1281px) {
      .popup__form-caption {
          font-size: 24px;
          line-height: 29px;
      }
  }
  